@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "DM Serif Text", Arial;
    border-radius: 10px;
}

main {
    text-align: center;
}


li {
    list-style-type: none;
    display: inline-block;
}

a {
    text-decoration: none;  
}

nav {
    background-color: chocolate;
    color: white;
    height: auto;
    width:auto; 
    display: flex;
}

.nav_links {
    display: inline-flex;
}

.about_link, .projects_link, .contact_link {
    border: 2px solid chocolate;
    color: black;
    padding: 10%
}

.about_link:hover, .projects_link:hover, .contact_link:hover{
    border: 2px solid black;
    color: black;
    background-color: aliceblue;
    padding: 10%;
}

.about_me {
    border-radius: 10px;
    background-color: rgb(248, 199, 127);
}

.projects_section {
    border-radius: 10px;;
    background-color: rgb(160, 182, 133);
}

footer {
    background-color: chocolate;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.github_link:hover, .insta_link:hover{
    border: 2px solid black;
    color: black;
    background-color: aliceblue;

}

header {
    text-align: center;
}

p {
    font-style: italic;
}

/*skills section*/
.skill_ex {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba(229, 207, 207, 0.639);
    border-radius: 5px;
    color: rgb(11, 11, 11); 
}