@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "DM Serif Text", Arial;
    border-radius: 10px;
}

/*main {
    text-align: center;
}*/


li {
    list-style-type: none;
    display: inline-block;
}

a {
    text-decoration: none;  
}

nav {
    background-color: chocolate;
    color: white;
    height: auto;
    width:auto; 
    display: block;
}

.nav_logo {
    display: none;
    background-color: peachpuff;
}

.nav_links {
    display: inline-flex;
}

.about_link, .projects_link, .contact_link {
    border: 2px solid chocolate;
    color: black;
    padding: 10%
}

.about_link:hover, .projects_link:hover, .contact_link:hover{
    border: 2px solid black;
    color: black;
    background-color: aliceblue;
    padding: 10%;
}

.about_link:visited, .projects_link:visited, .contact_link:visited {
    border: 2px solid black;
    color: black;
    background-color: aliceblue;
    padding: 10%;
}

.about_me {
    border-radius: 10px;
    background-color: rgb(248, 199, 127);
}

.projects_section {
    border-radius: 10px;;
    background-color: rgb(160, 182, 133);
}

footer {
    background-color: chocolate;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.github_link:hover, .insta_link:hover{
    border: 2px solid black;
    color: black;
    background-color: aliceblue;

}

header {
    text-align: center;
}

p {
    font-style: italic;
}

/*skills section*/

.skills_tech, .skills_soft {
    text-align: right;
}

.skill_ex {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba(229, 207, 207, 0.639);
    border-radius: 5px;
    color: rgb(11, 11, 11);
    text-align: left; 
}

/*contact section*/

/*.contact {
    border: 2px solid navy;
    padding: auto;
    font-family: 'Times New Roman', Times, serif;
}*/

.contact {
    border: 2px solid navy;
    padding-bottom: 3%;
}

.contact_title, .Submit {
    text-align: center;
}

label{
    display: block;
    margin: 0.5rem 0;
}

form {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
}
